In [3]:
import pandas as pd

In [4]:
calendar_data = pd.read_csv('data/calendar_afcs2024.csv')

## Calendar data

In [5]:
calendar_data.head(1969)

,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX
0,1/29/2011,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0
1,1/30/2011,11101,Sunday,2,1,2011,NaN,NaN,NaN,NaN,0
2,1/31/2011,11101,Monday,3,1,2011,NaN,NaN,NaN,NaN,0
3,2/1/2011,11101,Tuesday,4,2,2011,NaN,NaN,NaN,NaN,1
4,2/2/2011,11101,Wednesday,5,2,2011,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
1964,6/15/2016,11620,Wednesday,5,6,2016,NaN,NaN,NaN,NaN,1
1965,6/16/2016,11620,Thursday,6,6,2016,NaN,NaN,NaN,NaN,0
1966,6/17/2016,11620,Friday,7,6,2016,NaN,NaN,NaN,NaN,0
1967,6/18/2016,11621,Saturday,1,6,2016,NaN,NaN,NaN,NaN,0
1968,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0

In [6]:
print("Shape: " + calendar_data.shape)
print("Latest date: " + max(calendar_data.date))
print("Earliest date: " + min(calendar_data.date))

TypeError: can only concatenate str (not "tuple") to str

## Sales - Prices

In [7]:
sales_prices = pd.read_csv('data/sell_prices_afcs2024.csv')

In [8]:
sales_prices.head(15)

   store_id      item_id  wm_yr_wk  sell_price
0      TX_3  FOODS_3_001     11101        2.28
1      TX_3  FOODS_3_001     11102        2.28
2      TX_3  FOODS_3_001     11103        2.28
3      TX_3  FOODS_3_001     11104        2.28
4      TX_3  FOODS_3_001     11105        2.28
5      TX_3  FOODS_3_001     11106        2.28
6      TX_3  FOODS_3_001     11107        2.28
7      TX_3  FOODS_3_001     11108        2.28
8      TX_3  FOODS_3_001     11109        2.28
9      TX_3  FOODS_3_001     11110        2.28
10     TX_3  FOODS_3_001     11111        2.28
11     TX_3  FOODS_3_001     11112        2.28
12     TX_3  FOODS_3_001     11113        2.28
13     TX_3  FOODS_3_001     11114        2.28
14     TX_3  FOODS_3_001     11115        2.50

In [9]:
sales_prices.shape

(185260, 4)

## Sales Data

In [10]:
sales_data = pd.read_csv('data/sales_train_validation_afcs2024.csv')

In [11]:
sales_data.head(15)

,id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,FOODS_3_001_TX_3_validation,0,2,1,3,0,0,1,0,2,...,0,0,0,0,2,0,0,5,2,0
1,FOODS_3_002_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,FOODS_3_003_TX_3_validation,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
3,FOODS_3_004_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
4,FOODS_3_005_TX_3_validation,0,1,1,0,0,1,2,0,0,...,0,4,2,1,1,0,1,0,4,0
5,FOODS_3_006_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,1,1,1,0
6,FOODS_3_007_TX_3_validation,27,27,8,0,0,11,8,33,16,...,0,0,0,0,0,0,0,0,0,0
7,FOODS_3_008_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,FOODS_3_009_TX_3_validation,0,0,0,0,0,0,0,0,0,...,2,0,1,1,1,1,0,0,0,0
9,FOODS_3_010_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,FOODS_3_011_TX_3_validation,1,2,3,3,1,1,3,7,1,...,0,1,1,0,2,0,0,0,0,0
11,FOODS_3_012_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
12,FOODS_3_013_TX_3_validation,0,0,0,0,0,0,0,0,0,...,2,2,2,0,1,1,2,3,0,0
13,FOODS_3_014_TX_3_validation,3,3,2,4,1,1,2,0,1,...,0,0,2,0,0,0,1,0,0,0
14,FOODS_3_015_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,2,0,3,1,0,4,1,3,1

In [ ]:
sales_data.shape

In [14]:
features = pd.read_csv('engineered_features.csv')

In [16]:
features.head(100)

,id,date,sales,day_of_week,is_weekend,sales_lag_1,sales_lag_7,sales_lag_28,rolling_mean_7,rolling_mean_28,...,event_name_1_Thanksgiving,event_name_1_ValentinesDay,event_name_1_VeteransDay,event_type_1_National,event_type_1_Religious,event_type_1_Sporting,event_name_2_Easter,event_name_2_Father's day,event_name_2_OrthodoxEaster,event_type_2_Religious
0,FOODS_3_001_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,FOODS_3_002_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
2,FOODS_3_003_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
3,FOODS_3_004_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
4,FOODS_3_005_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,FOODS_3_097_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
96,FOODS_3_098_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
97,FOODS_3_099_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
98,FOODS_3_100_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
99,FOODS_3_101_TX_3_validation,1/29/2011,0,Saturday,1,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [17]:
features.shape

(1574399, 55)